# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# In-tree built binary.
bazel-cache

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# TODO: use envrc for deploy.sh
deploy.sh
